.recipeCard {
  position: fixed;
  max-width: 600px;
  margin: 20px auto;
  margin-top: 80px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: "Lora", serif;
  color: #393e46;
  overflow: auto;
  max-height: 70vh;
  background-color: #fff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.recipeCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.recipeName {
  font-size: 28px;
  margin-bottom: 10px;
  color: #006d77;
}

.recipeImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.recipeImage:hover {
  transform: scale(1.05);
}

.recipeDetails {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  padding-bottom: 10px;
}

.recipeInstructions {
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  margin-bottom: 20px;
}

.recipeInstructions ol {
  margin-left: 0px;
}

.recipeInstructions li {
  margin-left: 10px;
  padding: 5px;
  border-radius: 20px;
  transition: background-color 0.4s ease;
}

.recipeInstructions li:hover {
  background-color: #feffb1;
}
/* Media Queries for Mobile Devices */
@media screen and (max-width: 768px) {
  .recipeCard {
    max-width: 90%;
    margin: 10px;
    margin-top: 60px;
    padding: 15px;
  }

  .recipeName {
    font-size: 24px;
  }

  .recipeDetails {
    flex-direction: column;
    align-items: flex-start;
  }

  .recipeInstructions {
    padding: 5px; /* Reduce padding */
    margin-bottom: 10px; /* Smaller margin */
  }

  .recipeInstructions li {
    margin-left: 0px;
    padding: 5px;
  }
}

@media screen and (max-width: 480px) {
  .recipeCard {
    max-width: 95%; /* Further reduce width for small mobile devices */
    margin-top: 40px;
    padding: 10px;
  }

  .recipeName {
    font-size: 20px; /* Smaller font size for small screens */
  }

  .recipeDetails {
    border-bottom: none;
  }
}
