body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);

  min-width: 320px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
    padding: 0 10px;
  }
}
